<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        
        window.onhashchange = function(event){
            console.log('oldURL', event.oldURL)
            console.log('newURL', event.newURL)
        }

        document.addEventListener('DOMContentLoaded', function(){
            console.log('hash is ',location.hash)
        })
    </script>
</body>
</html>